# ca
# X.509 Certificate options
#
# DN options

# The organization of the subject.
organization = "HomeLab"

# The organizational unit of the subject.
unit = "Infra"

# The state of the certificate owner.
state = "CA"

# The country of the subject. Two letter code.
country = "US"

# The common name of the certificate owner.
cn = "CA-Cert"

# In how many days, counting from today, this certificate will expire.
# Use -1 if there is no expiration date.
expiration_days = 3650


# X.509 v3 extensions

# Challenge password used in certificate requests
challenge_password = 

# Whether this is a CA certificate or not
ca


#### Key usage

# The following key usage flags are used by CAs and end certificates

# Whether this certificate will be used to sign data (needed
# in TLS DHE ciphersuites). This is the digitalSignature flag
# in RFC5280 terminology.
signing_key

# Whether this key will be used to sign other certificates. The
# keyCertSign flag in RFC5280 terminology.
cert_signing_key
